<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taula de golejadors</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
    <header>
        <h1>Gestió de golejadors</h1>
        <h2><%- htmlMessage %></h2>
    </header>
    <main>
        <section>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h2>Taula de golejadors</h2>
                <a href="/golejadors/create" class="action-button add-button" title="Afegir nou golejador">
                    <i class="fas fa-plus"></i> Afegir
                </a>
            </div>
            <ul class="product-list">
                <li class="product-item list-header">
                    <strong>NOM</strong>
                    <span>EQUIP</span>
                    <span>GOLS</span>
                </li>
                <% data.goleadores.forEach(jugador => { %>
                    <li class="product-item">
                        <strong><%= jugador.nombre %></strong>
                        <span><%= jugador.equipo %></span>
                        <span><%= jugador.goles %></span>
                        <span><a href="/golejadors/<%=jugador.pos %>"><i class="fas fa-info-circle"></i></a></span>
                        <span><a href="/golejadors/edit_golejador/<%=jugador.pos %>"><i class="fas fa-edit"></i></a></span>
                        <span>
                            <form action="/golejadors/<%= jugador.pos %>?_method=DELETE" method="POST" style="display:inline;">
                                <button type="submit"
                                    class="action-button delete-button" 
                                    onclick="return confirm('Estàs segur que vols eliminar <%= jugador.nombre %>?');">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </span>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>
</html>